<!DOCTYPE HTML>
<!--
<head>
    <meta http-equiv="refresh" content="0; url=frontend/front.html" />
<body>
    <p> You are not supposed to see this </p>
</body>
</head>
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ICON <link rel="icon" href="../../favicon.ico"> -->

    <title>banænæ</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/cover.css" rel="stylesheet">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">banæna</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to banænæ</h1>
            <p class="lead">Click below for more...</p> 
            <p class="lead">
              <input type="text" class="form-control" placeholder="DO NOT TYPE IMPORTANT INFORMATION HERE... (XSS for funsies)" aria-describedby="basic-addon1">
              <br>
                      <a href="/auth/google" class="btn btn-danger">Connect with Google</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Taken from cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="bootstrap3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
