<!DOCTYPE HTML>
<!--
<head>
    <meta http-equiv="refresh" content="0; url=frontend/front.html" />
<body>
    <p> You are not supposed to see this </p>
</body>
</head>
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- ICON <link rel="icon" href="../../favicon.ico"> -->

    <title>Banænæ</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/cover.css" rel="stylesheet">
    <script>

    $(document).ready(function(){
        //Render List
        if(navigator.geolocation){
            console.log("getting location")
            navigator.geolocation.getCurrentPosition(geoPermission);
        }
    });

    /**
     * Tufts Bounding Box
     * -71.141174,42.381897,-71.088235,42.425404
     **/
    function geoPermission(loc){
        var lat = loc.coords.latitude;
        var lng = loc.coords.longitude;
        if ( 42.381897 <= lat && lat <= 42.425404 && 
            -71.141174 <= lng && lng <= -71.088235) {
            console.log("in tufts")
            $("#login-btn").html('<a href="/auth/google" class="btn btn-danger">Connect with Google</a>');
        }
        console.log("in geoPermission");
    }
    </script>

  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Banænæ</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Banænæ</a></li>
                  <li><a href="#about">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Banænæ</h1>
            <p class="lead"> Find out what our favorite meals are </p>
            <div id="login-btn">
              <p> Wait for a sec! We are checking your location...  <span class="glyphicon glyphicon-refresh"></span> </p>
            </div>
          </div>



        </div>
      </div>
    </div>
    <a name="about"></a>
    <div class="cover-container cover-item">
    <div class="inner cover">
            <h1 class="cover-heading">Why Banænæ?</h1>
            <p class="lead">Everyone says Tufts has some of the best cafateria food but no one on campus talks about it. Do you know your roomate's favorite DeWick dish?  Does Tufts dining know what students favorites are? Which really is better, Dewick or Carm?</p>
            <p class="lead"> Banænæ has the answers.</p>
            <p class="lead"> Banænæ is a place where the Tufts community can come together and vote on their favorite cafeteria dishes. Let your friends know how much you really enjoyed General Gau's last night or secretly show everyone you actually don't like stiry fry night and give that a downvote. </p>
            <p class="lead"> Show Tufts dining what your favorites are and lets start a conversation.</p>
            <p class="signoff"> - the Banænæ team</p>
            <p class="signoff"> Jason, Ben, Tafari and Param </p>
    </div>
        <div class="inner">
      <p>Taken from cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="bootstrap3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
