/* taken from bootstrap online examples*/
body {
  overflow: hidden;
  //color:#ff7869;
  //color:white;



}
/*
.starter-template {
  padding: 40px 15px;
  text-align: left;
}*/

[class*="col-"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
.content {
	padding-top: 50px;
}
.foodbox{
	padding-top:5px;
	padding-left:5%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 85vh;

}

#data{
	padding-top: 10px;
}

.scores-buttons{
	font-size: 18px;
	text-align: center;
}
.food-item-box{
	padding-right: 5%;
	height:85px;
	box-shadow: 0px 1px 1px #ddd;
}
.active{
	//background-color:#ff7869;
}
h1{
	padding-top:5px;
	margin-top:0;
	margin-bottom:0;
}
.foodscore{
	color:#ff7869;
	text-shadow: 0 0.5px 0px rgba(0,0,0,.3);

}
.glyphicon{
	color:#ff7869;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.container-fluid{
	padding-right:0px;
	padding-left:0px;
}
.top{
	background-color:#ff7869;
	//border-color:#ff7869;
	color:white;
	height: 50px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: 0px 2px 2px #ccc;
}
.fooditem{
	padding-top: 10px;
	color:#444;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}

span[upvote=false] {
	color:#ddd;
}
span[upvote=true] {
	color:#ff7869;
}
span[downvote=false] {
	color:#ddd;
}
span[downvote=true] {
	color:#ff7869;
}
a.refresh{
	color:#ff7869;
}
/*
p[daily=true]{
	font-weight: bold;
}*/
div.sidebar {
	padding-top:20px;
	padding-left: 30px;
}

p.score{
	font-size:16px;
}

/* sm and xs screens */
@media only screen and (max-width: 768px){
	.foodbox{
		height:90vh;
	}
}

/****/