/* taken from bootstrap online examples*/
body {
  padding-top: 50px;
  overflow: hidden;

}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
.sidebar{
   float: left;
}
.lead {
	padding-left: 45px;
	padding-right: 0px;
}

[class*="col-"] {
	padding-top: 0px;
	padding-bottom: 0px;
}

.content{
	float:bottom;
	position:fixed;
	height: 100vh;
}

.foodbox{
	overflow: scroll;
	overflow-x: hidden;
	height: 70vh;
}
.food-item-box{
	border-bottom-style: ridge;
	border-bottom-color: light grey;
}


.left {
	text-align: left;
	padding-top: 45px;
	padding-bottom: 20px;
}

.row {
	padding-bottom: 0px;

}