/* taken from bootstrap online examples*/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
.lead {
	padding-left: 45px;
	padding-right: 0px;
}

[class*="col-"] {
	padding-top: 0px;
	padding-bottom: 0px;
}